* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: hsl(257, 40%, 49%);
    background-image: url(../images/bg-desktop.svg);
    height: 100vh;
    width: 100vw;
    font-family: Open Sans, sans-serif;
    color: #fff;
}

a {
    text-decoration: none;
}

