header {
    width: 100%;
    padding: 20px;
}

.container {
    display: flex;
    align-items: center;
    text-align: center;
}

.container .mockups {
    width: 45%;
    margin-left: 50px;
}

.container .content-container {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin: 0 50px 100px 50px;
    gap: 30px;
    text-align: left;
}

.container .content-container .title {
    font-size: 2.8rem;
}

.container .description {
    font-size: 1.1rem;
    font-weight: 400;
}

.container .btn {
    width: 150px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-weight: 100;
    color: #8e8484;
    cursor: pointer;
}

.container .btn:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    transition: ease-in-out 0.2s;
}

footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 1.5rem 2rem 0 0;
}

footer .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer a {
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
}

footer i {
    display: flex;
    padding-top: 12px;
}

@media screen and (max-width: 1210px) {
    .logo {
        width: 200px;
    }

    .container .content-container .title {
        font-size: 2.3rem;
    }
}

@media screen and (max-width: 1050px) {
    .container .content-container {
        margin: 0 50px 50px 50px;
    }

    .container .content-container .title {
        font-size: 2rem;
    }

    .container .description {
        font-size: 1rem;
        font-weight: 400;
    }

    footer {
        justify-content: center;
        align-items: center;
        padding: 0 2rem 0 0;
    }

    footer .icon-container {
        margin-top: 5rem;
    }
}

@media screen and (max-width: 900px) {
    .container .content-container .title {
        font-size: 1.7rem;
    }

    .container .description {
        font-size: 1rem;
        font-weight: 300;
    }
}

@media screen and (max-width: 815px) {
    body {
        background-image: url(../images/bg-mobile.svg);
        background-size: 100% auto;
        background-repeat: no-repeat;
        height: 100vh;
        width: 100vw;
    }

    .logo {
        width: 170px;
    }

    .container {
        justify-content: center;
        flex-direction: column;
    }

    .container .content-container {
        width: 80%;
        margin: 0 auto 50px auto;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .container .mockups {
        margin-top: 50px;
    }
    footer {
        padding: 0;
    }

    footer .icon-container {
        margin-top: 0;
        margin-bottom: 2rem;
    }
}