/* apenas header o código não fazia nada, header imgg acessa a tag que você queria estilizar */
header {
    width: 100%;
    display: flex;
    padding: clamp(25px, 3vw, 100px) 0;
}
header img {
    width: clamp(200px, 30vw, 450px);
}

.group {
    max-width: 1440px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: auto;
    gap: 50px;
}
.container {
    height: 50vh; 
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .mockup {
    width: clamp(350px, 40vw, 1350px);
    height: auto;
}

.container .content-container {
    width: 45%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 50px;
    gap: 25px;
    text-align: left;
}

.container .content-container .title {
    font-size: clamp(1rem, 3vw, 3rem);
}

.container .description {
    font-size: clamp(0.6rem, 2vw, 1.2rem);
    font-weight: 400;
}

.container .btn {
    width: 150px;
    padding: 15px;
    border: none;
    border-radius: 20px;
    font-weight: 100;
    color: #8e8484;
    cursor: pointer;
}

.container .btn:hover {
    background-color: hsl(300, 69%, 71%);
    color: #fff;
    transition: ease-in-out 0.2s;
}

footer {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    gap: 20px;
    padding: 1.5rem 2rem 0 0;
}

footer .icon-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

footer a {
    color: #fff;
    width: 50px;
    height: 50px;
    font-size: 1.5rem;
    border: 1px solid #fff;
    border-radius: 50%;
    text-align: center;
}

footer i {
    display: flex;
    padding-top: 12px;
}

@media screen and (max-width: 1024px) {
    .group {
        gap: 0;
        margin: 20px;
    }
    .container {
        flex-direction: column;
        height: auto;
        transform: translateX(0);
    }

    .container .content-container {
        width: 80%;
        margin: 0 auto ;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .container .mockup {
        margin-top: 50px;
    }

    footer {
        justify-content: center;
        padding: 50px 0;
    }
}

@media screen and (min-width: 1200px) {
}

@media screen and (min-width: 1920px) {
    header {
        padding: 50px 0;
    }
}